.pg-show {
    width: 600px;
    height: 300px;
    padding-top: 2rem;
    background: cornflowerblue;
}
.div-pg-show{
    width: 600px;
    height: 200px;
    background: darkmagenta;
}
.panel-heading{
    background: aqua;
}
.panel-heading2{
    background: aqua;
    width: 600px;
    height: 30px;
}
.body{
    background: cadetblue;
}