<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/css/fxh.css" th:href="@{/css/fxhb.css}" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1/echarts.min.js"></script>
    <script th:src="@{/js/show.js}" src="../static/js/show.js"></script>
</head>
<body>


<div class="panel panel-default">

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;background: royalblue;"></div>


    <div id="panel-heading2" class="panel-heading">六分体总计</div>

    <ul class="list-group">
        <li class="list-group-item">  <!--总计-->
            <div class="row">
                <div id="echarts-total" class="col-sm-12 show-data-item"
                     style="width: 600px;height:400px;background: orangered;"></div>
            </div>
        </li>
        <li class="pg-show">
            <div class="div-pg-show"></div>
        </li>
        <li class="list-group-item">
            <div class="row  border-bottom white-bg dashboard-header " style="padding-top: 6rem">
                <!--数据统计-->
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>会员</th>
                                    <th>商家</th>
                                    <th>回收员</th>
                                    <th>垃圾总量</th>
                                </tr>
                                <tr>
                                    <td>[[${userCount}]]人</td>
                                    <td>[[${companyCount}]]家</td>
                                    <td>[[${recyclerCount}]]人</td>
                                    <td>[[${totalWeigth}]]千克</td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!--数据统计 end-->
            </div>
        </li>
    </ul>
</div>

<div id="bottom-text" class="div-pg-show">
    <img src="../static/images/banner-01.jpg" th:src="@{/images/banner-01.jpg}" height="200" width="900"/>

    <img src="../static/images/banner-01.jpg" th:src="@{/images/banner-01.jpg}" height="650" width="1920"/></div>
<div id="bottom-text2" class="div-pg-show">
    <img src="../img/banner-02.jpg" th:src="@{/img/banner-02.jpg}" height="650" width="1920"/></div>
<div id="bottom-text3" class="div-pg-show">
    <img src="../banner-03.jpg" th:src="@{/banner-03.jpg}" height="650" width="1920"/></div>
</body>
</html>